body {
    width: 95vw;
    height: 95vh;
}

#title {
    text-align: center;
}

#formula, .formula {
    font-size: 5vw;
}

.fs1 {
    font-size: 1vw !important;
}

.fs2 {
    font-size: 2vw !important;
}

.fs3 {
    font-size: 3vw !important;
}

.fs4 {
    font-size: 4vw !important;
}

.fs5 {
    font-size: 5vw !important;
}

.fs6 {
    font-size: 6vw !important;
}

.fs7 {
    font-size: 7vw !important;
}

.fs8 {
    font-size: 8vw !important;
}

.fs9 {
    font-size: 9vw !important;
}

.fs10 {
    font-size: 10vw !important;
}

.mean {
    text-decoration: overline;
}